<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-apple"></i> <span>XXXX  admin</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> current_user </h2>
    </div>
  </div>
   /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3></h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> 功能1 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/home/das1">Dashboard</a></li>
            <li><a href="/home/das2">Dashboard2</a></li>
            <li><a href="" onclick="alert('info')">Dashboard3</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> 功能2 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/forms/form">General Form</a></li>
            <li><a href="/forms/form_advanced">Advanced Components</a></li>
            <li><a href="/forms/form_validation">Form Validation</a></li>
            <li><a href="/forms/form_wizards">Form Wizard</a></li>
            <li><a href="/forms/form_upload">Form Upload</a></li>
            <li><a href="/forms/form_buttons">Form Buttons</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-desktop"></i> 功能3 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/ui/general_elements">General Elements</a></li>
            <li><a href="/ui/media_gallery">Media Gallery</a></li>
            <li><a href="/ui/typography">Typography</a></li>
            <li><a href="/ui/icons">Icons</a></li>
            <li><a href="/ui/glyphicons">Glyphicons</a></li>
            <li><a href="/ui/widgets">Widgets</a></li>
            <li><a href="/ui/invoice">Invoice</a></li>
            <li><a href="/ui/inbox">Inbox</a></li>
            <li><a href="/ui/calendar">Calendar</a></li>
          </ul>
        </li>


      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->


  <!-- /menu footer buttons -->
 </div>
